<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/nailItStyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <script src="../static/GetLocation.js"></script>
    <script defer src="../static/general.js"></script>

    <title>Business Profile</title>
</head>

<body>
    <div class="gridContainerB">
        <header>
            <nav>
                <a href="signUpManicurist.html">Manicurist ? Sign Up </a> &nbsp &nbsp
                <a href="signUpCustomer.html">Customer ? Sign Up </a>
                <ul>
                    <img src="../static/Logo.jpeg" id="logo">
                    <li><a href="homePage.html">Home Page</a></li>
                    <li><a href="signIn.html"> Sign In</a></li>
                    <li><a href="SearchMani.html"> Find Manicurist</a></li>
                    <li><a href="MyBusinessPro.html"> Business Profile </a></li>

                </ul>
            </nav>
        </header>


        <div class="menuBusiness">
            <fieldset class="MyBusinessField">

                <center>

                    <table>
                        <h1 id="priceList">Avivit's menu:</h1>
                        <tr>
                            <td class="tableHeader"> Service</td>
                            <td class="tableHeader"> &#8362</td>
                        </tr>
                        <tr>
                            <td><input type="text" class="service" name="username" readonly value="Regular Lak Gel"
                                    maxlength="90" placeholder="service"><br></td>
                            <td><input type="number" class="price" name="username" readonly value="70" min="0"
                                    oninput="validity.valid||(value='');" placeholder="price"><br></td>
                        </tr>
                        <tr>
                            <td><input type="text" class="service" name="username" readonly
                                    value="Anatomy Lak Gel (for thicker nails)" maxlength="90"
                                    placeholder="service"><br></td>
                            <td><input type="number" class="price" name="username" readonly value="80" min="0"
                                    oninput="validity.valid||(value='');" placeholder="price"><br></td>
                        </tr>
                        <tr>
                            <td><input type="text" class="service" name="username" readonly
                                    value="egular Lak Gel + Russian Manic ure (for dead skin removal)" maxlength="90"
                                    placeholder="service"><br></td>
                            <td><input type="number" class="price" name="username" readonly value="85" min="0"
                                    oninput="validity.valid||(value='');" placeholder="price"><br></td>
                        </tr>
                        <tr>
                            <td><input type="text" class="service" name="username" readonly
                                    value="Anatomy Lak Gel (for thicker nails) + Russian Manicure" maxlength="90"
                                    placeholder="service"><br></td>
                            <td><input type="number" class="price" name="username" readonly value="95" min="0"
                                    oninput="validity.valid||(value='');" placeholder="price"><br></td>
                        </tr>
                        <tr>
                            <td><input type="text" class="service" name="username" readonly value="Regular Lak Gel"
                                    maxlength="90" placeholder="service"><br></td>
                            <td><input type="number" class="price" name="username" readonly value="70" min="0"
                                    oninput="validity.valid||(value='');" placeholder="price"><br></td>
                        </tr>
                        <tr>
                            <td><input type="text" class="service" name="username" readonly
                                    value="Anatomy Lak Gel (for thicker nails)" maxlength="90"
                                    placeholder="service"><br></td>
                            <td><input type="number" class="price" name="username" readonly value="80" min="0"
                                    oninput="validity.valid||(value='');" placeholder="price"><br></td>
                        </tr>
                        <tr>
                            <td><input type="text" class="service" name="username" readonly
                                    value="egular Lak Gel + Russian Manic ure (for dead skin removal)" maxlength="90"
                                    placeholder="service"><br></td>
                            <td><input type="number" class="price" name="username" readonly value="85" min="0"
                                    oninput="validity.valid||(value='');" placeholder="price"><br></td>
                        </tr>
                        <tr>
                            <td><input type="text" class="service" name="username" readonly
                                    value="Anatomy Lak Gel (for thicker nails) + Russian Manicure" maxlength="90"
                                    placeholder="service"><br></td>
                            <td><input type="number" class="price" name="username" readonly value="95" min="0"
                                    oninput="validity.valid||(value='');" placeholder="price"><br></td>
                        </tr>

                    </table>
                </center>
                <button class="sandMani" type="button" onclick="sandMani()"> Click here to send details to
                    Avivit</button>

            </fieldset>

        </div>

        <div class="aboutMenicurist">
            <fieldset class="MyBusinessField">
                <h1>About Avivit:</h1><br>
                <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam mollitia soluta, hic sapiente
                    id nam corporis, delectus, obcaecati voluptate exercitationem eaque molestiae amet! Facere
                    laboriosam tenetur, impedit praesentium dicta esse!</p>
            </fieldset>
        </div>

        <div class="MenicuristPics">

            <div class="navDisplay1">
                <div class="MyImg">
                    <img src="../static/nails7.jpeg" alt="">
                    <span class="spanStyle"></span>
                </div>
                <div class="MyImg">
                    <img src="../static/nails8.jpeg" alt="">
                    <span class="spanStyle"></span>
                </div>
            </div>
            <div class="navDisplay1">
                <div class="MyImg">
                    <img src="../static/nails9.jpeg" alt="">
                    <span class="spanStyle"></span>
                </div>

                <div class="MyImg">
                    <img src="../static/nails10.jpeg" alt="">
                    <span class="spanStyle"></span>
                </div>
            </div>

            <button id="editProfile" type="button"> <a href="../templates/editingBusinessProfile.html">Edit
                    Profile</a></button>

            <div id="rateDiv">
                <h2>Rate Avivit Here!</h2>
                <input type="range" value="3" min="1" max="5" oninput="this.nextElementSibling.value = this.value">
                <output>3</output>
                <button id="rateBtn" type="button"> Rate</button>

                <br>
                <h3>Avivit's current rate is- </h3>
                <div id="rateStars">
                    <i id="star1" class="fa-solid fa-star"></i>
                    <i id="star2" class="fa-solid fa-star"></i>
                    <i id="star3" class="fa-solid fa-star"></i>
                    <i id="star4" class="fa-solid fa-star"></i>
                    <i id="star5" class="fa-solid fa-star"></i>

                    

                </div>



            </div>

        </div>



        <footer class="footer">

            <h3>Follow Us</h3> <br>
            <p>Our phone number: 050-8236578</p>
            <p>Our Email is: nailIt@post.bgu.ac.il</p>
            <ul class="socials">
                <li><a href="https://www.facebook.com/" target="_blank"> <i class="fab fa-facebook"></i></a></li>
                <li><a href="https://twitter.com/" target="_blank"> <i class="fab fa-twitter"></i></a></li>
                <li><a href="https://www.google.com/" target="_blank"> <i class="fab fa-google-plus "></i></a></li>
                <li><a href="https://www.linkedin.com/" target="_blank"> <i class="fab fa-linkedin-in"></i></a></li>
                <li><a href="https://www.youtube.com/" target="_blank"> <i class="fab fa-youtube"></i></a></li>

            </ul>

        </footer>

    </div>
</body>

</html>