<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/nailItStyle.css">
    <script defer src="../static/GetLocation.js"></script>

    <title>Editing my business profile</title>
</head>

<body>
    <div id="gridContainerEditingProfile">
        <header>
            <nav>
                <a href="">Manicurist ? Sign Up </a> &nbsp &nbsp
                <a href="">Customer ? Sign Up </a>
                <ul>
                    <img src="../static/Logo.jpeg" id="logo">
                    <li><a href="homePage.html">Home Page</a></li>
                    <li><a href="signUpCustomer.html"> Sign In</a></li>
                    <li><a href="Search.html"> Find Manicurist</a></li>
                    <li><a href="MyBusinessPro.html"> Business Profile </a></li>

                </ul>
            </nav>
        </header>

        <div id="priceTable">
            <table >
                <h1 id="priceList">Price List 💅🏻</h1>
                <tr id="tableHeader">
                   <td> Service</td>
                   <td> Price <span>&#8362;</span></td>
                </tr>
                <tr>
                    <td class="labelElement"><input type="text" id="username" name="username" maxlength="40" placeholder="service type"><br></td>
                    <td class="labelElement"><input type="text" id="username" name="username" maxlength="10" placeholder=" price"><br></td>
                </tr>
                <tr>
                    <td class="labelElement"><input type="text" id="username" name="username" maxlength="40" placeholder="service type"><br></td>
                    <td class="labelElement"><input type="text" id="username" name="username" maxlength="10" placeholder=" price"><br></td>
                </tr>
                <tr>
                    <td class="labelElement"><input type="text" id="username" name="username" maxlength="40" placeholder="service type"><br></td>
                    <td class="labelElement"><input type="text" id="username" name="username" maxlength="10" placeholder=" price"><br></td>
                </tr>
                <tr>
                    <td class="labelElement"><input type="text" id="username" name="username" maxlength="40" placeholder="service type"><br></td>
                    <td class="labelElement"><input type="text" id="username" name="username" maxlength="10" placeholder=" price"><br></td>
                </tr>
                <tr>
                    <td class="labelElement"><input type="text" id="username" name="username" maxlength="40" placeholder="service type"><br></td>
                    <td class="labelElement"><input type="text" id="username" name="username" maxlength="10" placeholder=" price"><br></td>
                </tr>
                <tr>
                    <td class="labelElement"><input type="text" id="username" name="username" maxlength="40" placeholder="service type"><br></td>
                    <td class="labelElement"><input type="text" id="username" name="username" maxlength="10" placeholder=" price"><br></td>
                </tr>
                <tr>
                    <td class="labelElement"><input type="text" id="username" name="username" maxlength="40" placeholder="service type"><br></td>
                    <td class="labelElement"><input type="text" id="username" name="username" maxlength="10" placeholder=" price"><br></td>
                </tr>
                <tr>
                    <td class="labelElement"><input type="text" id="username" name="username" maxlength="40" placeholder="service type"><br></td>
                    <td class="labelElement"><input type="text" id="username" name="username" maxlength="10" placeholder=" price"><br></td>
                </tr>
            
            </table>
        </div>
         
 

        <div id="middleSection">
            <fieldset id="aboutMeSection">
            <h1 id="aboutMeText">About Me</h1>
            <textarea id="description" cols="30" rows="10"></textarea>
        </fieldset> 

        </div>
        

        <div id="uploadPic">

            <div class="navDisplay1">
                <div >
                    <input type="file" id="addedFile"name="addedFile" accept="image/png, image/jpeg"><br>
                    <span class="spanStyle"></span>
                </div>
                <div>
                    <input type="file" id="addedFile"name="addedFile" accept="image/png, image/jpeg"><br>
                    <span class="spanStyle"></span>
                </div>
            </div>
            <div class="navDisplay1" >
                <div >
                    <input type="file" id="addedFile"name="addedFile" accept="image/png, image/jpeg"><br>
                    <span class="spanStyle"></span>
                </div>

                <div>
                    <input type="file" id="addedFile"name="addedFile" accept="image/png, image/jpeg"><br>
                    <span class="spanStyle"></span>
                </div>
            </div>
            <button id="update" type="button"  onclick="updateMyProfile()"> Update</button>

        </div>



        <footer class="footer">

            <h3>Follow Us</h3> <br>
            <p>Our phone number: 050-8236578</p>
            <p>Our Email is: nailIt@post.bgu.ac.il</p>
            <ul class="socials">
                <li><a href="to _blank" target="_blanke"> <i class="fab fa-facebook"></i></a></li>
                <li><a href="to _blank" target="_blanke"> <i class="fab fa-twitter"></i></a></li>
                <li><a href="to _blank" target="_blanke"> <i class="fab fa-google-plus "></i></a></li>
                <li><a href="to _blank" target="_blanke"> <i class="fab fa-linkedin-in"></i></a></li>
                <li><a href="to _blank" target="_blanke"> <i class="fab fa-youtube"></i></a></li>

            </ul>

        </footer>

    </div>
</body>

</html>