<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/nailItStyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <script src="../static/GetLocation.js"></script>
    <script defer src="../static/general.js"></script>

    <title>Editing Business Profile</title>
</head>

<body>
    <div class="gridContainerEditing">
        <header>
            <nav>
                <a href="signUpManicurist.html">Manicurist ? Sign Up </a> &nbsp &nbsp
                <a href="signUpCustomer.html">Customer ? Sign Up </a>
                <ul>
                    <img src="../static/Logo.jpeg" id="logo">
                    <li><a href="homePage.html">Home Page</a></li>
                    <li><a href="signIn.html"> Sign In</a></li>
                    <li><a href="SearchMani.html"> Find Manicurist</a></li>
                    <li><a href="MyBusinessPro.html"> Business Profile </a></li>

                </ul>
            </nav>
        </header>

        <div class="aboutMenicurist">
            <fieldset class="MyBusinessField">
                <h1>About Me:</h1><br>
                <textarea id="description" cols="5" rows="8"></textarea>

            </fieldset>
        </div>
        <div class="menuBusiness">
            <fieldset class="MyBusinessField">
                <center>

                    <table>
                        <h1 id="priceList">Price List 💅🏻</h1>
                        <tr>
                            <td class="tableHeader"> Service</td>
                            <td class="tableHeader"> &#8362</td>
                        </tr>
                        <tr>
                            <td><input type="text" class="service" name="username" maxlength="90"
                                    placeholder="service"><br></td>
                            <td><input type="number" class="price" name="username" min="0"
                                    oninput="validity.valid||(value='');" placeholder="price"><br></td>
                        </tr>
                        <tr>
                            <td><input type="text" class="service" name="username" maxlength="90"
                                    placeholder="service"><br></td>
                            <td><input type="number" class="price" name="username" min="0"
                                    oninput="validity.valid||(value='');" placeholder="price"><br></td>
                        </tr>
                        <tr>
                            <td><input type="text" class="service" name="username" maxlength="90"
                                    placeholder="service"><br></td>
                            <td><input type="number" class="price" name="username" min="0"
                                    oninput="validity.valid||(value='');" placeholder="price"><br></td>
                        </tr>
                        <tr>
                            <td><input type="text" class="service" name="username" maxlength="90"
                                    placeholder="service"><br></td>
                            <td><input type="number" class="price" name="username" min="0"
                                    oninput="validity.valid||(value='');" placeholder="price"><br></td>
                        </tr>
                        <tr>
                            <td><input type="text" class="service" name="username" maxlength="90"
                                    placeholder="service"><br></td>
                            <td><input type="number" class="price" name="username" min="0"
                                    oninput="validity.valid||(value='');" placeholder="price"><br></td>
                        </tr>
                        <tr>
                            <td><input type="text" class="service" name="username" maxlength="90"
                                    placeholder="service"><br></td>
                            <td><input type="number" class="price" name="username" min="0"
                                    oninput="validity.valid||(value='');" placeholder="price"><br></td>
                        </tr>
                        <tr>
                            <td><input type="text" class="service" name="username" maxlength="90"
                                    placeholder="service"><br></td>
                            <td><input type="number" class="price" name="username" min="0"
                                    oninput="validity.valid||(value='');" placeholder="price"><br></td>
                        </tr>
                        <tr>
                            <td><input type="text" class="service" name="username" maxlength="90"
                                    placeholder="service"><br></td>
                            <td><input type="number" class="price" name="username" min="0"
                                    oninput="validity.valid||(value='');" placeholder="price"><br></td>
                        </tr>

                    </table>
                </center>

            </fieldset>

        </div>

        <div id="uploadPic">

            <div class="navDisplay1">
                <div>
                    <input type="file" id="addedFile" name="addedFile" accept="image/png, image/jpeg"><br>
                    <span class="spanStyle"></span>
                </div>
                <div>
                    <input type="file" id="addedFile" name="addedFile" accept="image/png, image/jpeg"><br>
                    <span class="spanStyle"></span>
                </div>
            </div>
            <div class="navDisplay1">
                <div>
                    <input type="file" id="addedFile" name="addedFile" accept="image/png, image/jpeg"><br>
                    <span class="spanStyle"></span>
                </div>

                <div>
                    <input type="file" id="addedFile" name="addedFile" accept="image/png, image/jpeg"><br>
                    <span class="spanStyle"></span>
                </div>
            </div>
            <button id="update" type="button" onclick="updateMyProfile()"> Update</button>

        </div>



        <footer class="footer">

            <h3>Follow Us</h3> <br>
            <p>Our phone number: 050-8236578</p>
            <p>Our Email is: nailIt@post.bgu.ac.il</p>
            <ul class="socials">
                <li><a href="https://www.facebook.com/" target="_blank"> <i class="fab fa-facebook"></i></a></li>
                <li><a href="https://twitter.com/" target="_blank"> <i class="fab fa-twitter"></i></a></li>
                <li><a href="https://www.google.com/" target="_blank"> <i class="fab fa-google-plus "></i></a></li>
                <li><a href="https://www.linkedin.com/" target="_blank"> <i class="fab fa-linkedin-in"></i></a></li>
                <li><a href="https://www.youtube.com/" target="_blank"> <i class="fab fa-youtube"></i></a></li>

            </ul>

        </footer>

    </div>
</body>

</html>