<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/nailItStyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <script defer src="../static/general.js"></script>
    <title>Manicurist Results</title>
</head>

<body>
    <div class="gridContainer">
        <header>
            <nav>
                <a href="signUpManicurist.html">Manicurist ? Sign Up </a> &nbsp &nbsp
                <a href="signUpCustomer.html">Customer ? Sign Up </a>
                <ul>
                    <img src="../static/Logo.jpeg" id="logo">
                    <li><a href="homePage.html">Home Page</a></li>
                    <li><a href="signIn.html"> Sign In</a></li>
                    <li><a href="SearchMani.html"> Find Manicurist</a></li>
                    <li><a href="MyBusinessPro.html"> Business Profile </a></li>

                </ul>
            </nav>
        </header>


        <div class="PageImage Home"></div>

        <main id="resultsContainer">
            <h3>The best manicurists for you </h3>
            <nav id="homePageNav"> 
				<p id="demo"></p>
				<div class="navDisplay1">
						<div class="option">
							<a href="../templates/GeneralPage.html"><img src="../static/nails9.jpeg" alt="Italian page link" class="link"></a>
							<span class="spanStyle">dana</span>
                            <span class="spanStyle">distance</span>
						</div>
                        <div class="option">
							<a href="../templates/GeneralPage.html"><img src="../static/nails9.jpeg" alt="Italian page link" class="link"></a>
							<span class="spanStyle">dana</span>
                            <span class="spanStyle">distance</span>
						</div>
					</div>
					<div class="navDisplay1">
                        <div class="option">
							<a href="../templates/GeneralPage.html"><img src="../static/nails9.jpeg" alt="Italian page link" class="link"></a>
							<span class="spanStyle">dana</span>
                            <span class="spanStyle">distance</span>
						</div>
	
                        <div class="option">
							<a href="../templates/GeneralPage.html"><img src="../static/nails9.jpeg" alt="Italian page link" class="link"></a>
							<span class="spanStyle">dana</span>
                            <span class="spanStyle">distance</span>
						</div>
					</div>
			</nav>
        </main>

        <footer class="footer">

            <h3>Follow Us</h3> <br>
            <p>Our phone number: 050-8236578</p>
            <p>Our Email is: nailIt@post.bgu.ac.il</p>
            <ul class="socials">
                <li><a href="https://www.facebook.com/" target="_blank"> <i class="fab fa-facebook"></i></a></li>
                <li><a href="https://twitter.com/" target="_blank"> <i class="fab fa-twitter"></i></a></li>
                <li><a href="https://www.google.com/" target="_blank"> <i class="fab fa-google-plus "></i></a></li>
                <li><a href="https://www.linkedin.com/" target="_blank"> <i class="fab fa-linkedin-in"></i></a></li>
                <li><a href="https://www.youtube.com/" target="_blank"> <i class="fab fa-youtube"></i></a></li>

            </ul>

        </footer>

    </div>
</body>

</html>