<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/nailItStyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <script src="../static/GetLocation.js"></script>

    <title>Business Profile</title>
</head>

<body>
    <div class="gridContainerB">
        <header>
            <nav>
                <a href="">Manicurist ? Sign Up </a> &nbsp &nbsp
                <a href="">Customer ? Sign Up </a>
                <ul>
                    <img src="../static/Logo.jpeg" id="logo">
                    <li><a href="homePage.html">Home Page</a></li>
                    <li><a href="signUpCustomer.html"> Sign In</a></li>
                    <li><a href="Search.html"> Find Manicurist</a></li>
                    <li><a href="MyBusinessPro.html"> Business Profile </a></li>

                </ul>
            </nav>
        </header>


        <div class="menuBusiness">
            <fieldset class="MyBusinessField">
                <h1>Avivit's menu:</h1><br>
                <ul>
                    <li>
                        <p>Regular Lak Gel ₪70</p>
                    </li>
                    <li>
                        <p>Anatomy Lak Gel (for thicker nails) ₪80</p>
                    </li>
                    <li>
                        <p>egular Lak Gel + Russian Manic ure (for dead skin removal) 💅🏻 ₪85</p>
                    </li>
                    <li>
                        <p>Anatomy Lak Gel (for thicker nails) + Russian Manicure 💅🏻 (for dead skin removal) ₪95</p>
                    </li>
                    <li>
                        <p>Regular Lak Gel ₪70</p>
                    </li>
                    <li>
                        <p>Anatomy Lak Gel (for thicker nails) ₪80</p>
                    </li>
                    <li>
                        <p>egular Lak Gel + Russian Manic ure (for dead skin removal) 💅🏻 ₪85</p>
                    </li>
                    <li>
                        <p>Anatomy Lak Gel (for thicker nails) + Russian Manicure 💅🏻 (for dead skin removal) ₪95</p>
                    </li>
                </ul>
                <button class="sandMani" type="button"  onclick="sandMani()"> Click here to send details to Aviivit</button>

            </fieldset>
            
        </div>

        <div class="aboutMenicurist">
            <fieldset class="MyBusinessField">
                <h1>About Avivit:</h1><br>
                <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam mollitia soluta, hic sapiente
                    id nam corporis, delectus, obcaecati voluptate exercitationem eaque molestiae amet! Facere
                    laboriosam tenetur, impedit praesentium dicta esse!</p>
            </fieldset> 
        </div>

        <div class="MenicuristPics">

            <div class="navDisplay1">
                <div class="MyImg">
                    <img src="../static/nails7.jpeg" alt="">
                    <span class="spanStyle"></span>
                </div>
                <div class="MyImg">
                    <img src="../static/nails8.jpeg" alt="">
                    <span class="spanStyle"></span>
                </div>
            </div>
            <div class="navDisplay1">
                <div class="MyImg">
                    <img src="../static/nails9.jpeg" alt="">
                    <span class="spanStyle"></span>
                </div>

                <div class="MyImg">
                    <img src="../static/nails10.jpeg" alt="">
                    <span class="spanStyle"></span>
                </div>
            </div>

        </div>



        <footer class="footer">

            <h3>Follow Us</h3> <br>
            <p>Our phone number: 050-8236578</p>
            <p>Our Email is: nailIt@post.bgu.ac.il</p>
            <ul class="socials">
                <li><a href="to _blank" target="_blanke"> <i class="fab fa-facebook"></i></a></li>
                <li><a href="to _blank" target="_blanke"> <i class="fab fa-twitter"></i></a></li>
                <li><a href="to _blank" target="_blanke"> <i class="fab fa-google-plus "></i></a></li>
                <li><a href="to _blank" target="_blanke"> <i class="fab fa-linkedin-in"></i></a></li>
                <li><a href="to _blank" target="_blanke"> <i class="fab fa-youtube"></i></a></li>

            </ul>

        </footer>

    </div>
</body>

</html>