<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/nailItStyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <script src="GetLocation.js"></script>
    <title>Document</title>
</head>

<body>
    <div class="gridContainer">
        <header>
            <nav>
                <a href="">Manicurist ? Sign Up </a> &nbsp &nbsp
                <a href="">Customer ? Sign Up </a>
                <ul>
                    <img src="../static/Logo.jpeg" id="logo">
                    <li><a href="homePage.html">Home Page</a></li>
                    <li><a href="signUpCustomer.html"> Sign In</a></li>
                    <li><a href="Search.html"> Find Manicurist</a></li>
                    <li><a href="MyBusinessPro.html"> Business Profile </a></li>

                </ul>
            </nav>
        </header>


        <div class="PageImage BusinessProfile"></div>

        <main id="aboutUs">
            <div id="text">
                <h3>Search Manicurist </h3>
                <div class="content">
                    <img id="Searchlocaion" src="../static/location4.png" alt="">
                    <button class="Searchbutton" onclick="GetLocation()">Click here to find my loction</button>
                    <p id="p"></p>
                    <form action="">
                        <label for="servicetype">service type type</label> <br>
                        <select class="Searchbutton" name="servicetype" id="servicetype">
                            <option value="servicetype"> select type</option>
                            <option value="GelPolish">GelPolish</option>
                            <option value="RegularPolish">RegularPolish</option>
                        </select><br>
                        <label for="pricerange"> price range</label> <br>

                        <input type="range" id="pricerange" min="40" max="200"> <span>40</span>
                        <br>


                        <button class="Searchbutton">Search</button><br>
                    </form>

                </div>
            </div>
        </main>

        <footer class="footer">

            <h3>Follow Us</h3> <br>
            <p>Our phone number: 050-8236578</p>
            <p>Our Email is: nailIt@post.bgu.ac.il</p>
            <ul class="socials">
                <li><a href="to _blank" target="_blanke"> <i class="fab fa-facebook"></i></a></li>
                <li><a href="to _blank" target="_blanke"> <i class="fab fa-twitter"></i></a></li>
                <li><a href="to _blank" target="_blanke"> <i class="fab fa-google-plus "></i></a></li>
                <li><a href="to _blank" target="_blanke"> <i class="fab fa-linkedin-in"></i></a></li>
                <li><a href="to _blank" target="_blanke"> <i class="fab fa-youtube"></i></a></li>

            </ul>

        </footer>

    </div>
</body>

</html>