<!DOCTYPE html>
<html>

<head>
    <title>Sign Up- Manicurist </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/Nail_it.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <script src="../static/GetLocation.js"></script>
</head>

<body>
        <header id="header">
            <div class="image-section">
                <img id="logo" src="../static/Logo.jpeg" alt="">
            </div>
            <h3 id="pageSubject">Sign Up- Manicurist</h3>
            <nav class="SigningHeader">
                <a href="">New Here ? Sign Up </a> &nbsp &nbsp
                <a href=""> Sign In</a>
            </nav>
            <nav class="headerhome">
                <a class="headerhome" href="homePage.html">Home Page</a> &nbsp &nbsp
                <a class="headerhome" href="signUpCustomer.html"> Sign In</a> &nbsp &nbsp
                <a class="headerhome" href="Search.html"> Find My Manicurist</a> &nbsp &nbsp
                <a class="headerhome" href="MyBusinessPro.html"> My Business Profile </a>
            </nav>
        </header>

        <form id="SignUpManicuristForm" action="" method="post">
            <fieldset>

                <label id="email" for="email"> Email: </label>
                <input type="email" name="email" id="email" class="inputs" required>
                <p></p>

                <label for="firstName">First Name: </label>
                <input type="text" id="firstName" name="firstName" required>
                <p></p>

                <label for="lastName">Last Name: </label>
                <input type="text" id="lastName" name="lastName" required>
                <p></p>

                <label for="telephone">Phone Number: </label>
                <input type="tel" name="telephone" id="telephone" required>
                <p></p>

                <label for="Latitude">Latitude: </label>
                <input type="text" id="Latitude" name="Latitude" required>
                <p></p>

                <label for="Longitude">Longitude: </label>
                <input type="text" id="Longitude" name="Longitude" required>
                <p></p>

                <label for="password">Password: </label>
                <input type="text" id="password" name="password" required>
                <p></p>

                <button id="SignUpButton">Sign Up</button>
            </fieldset>
        </form>

        <button   id="buttonLocationMani" onclick="GetLocationMani()">Find my location</button>
        <p id="p1"></p>


        <footer class="footer">
            <div class="footer-content">
                <h3>Follow us</h3> <br>
                <p>You can always be impressed and find more works here
                    We would love for you to follow and share :)</p>
                <ul class="socials">
                    <li><a href="to _blank" target="_blanke"> <i class="fab fa-facebook"></i></a></li>
                    <li><a href="to _blank" target="_blanke"> <i class="fab fa-twitter"></i></a></li>
                    <li><a href="to _blank" target="_blanke"> <i class="fab fa-google-plus "></i></a></li>
                    <li><a href="to _blank" target="_blanke"> <i class="fab fa-linkedin-in"></i></a></li>
                    <li><a href="to _blank" target="_blanke"> <i class="fab fa-youtube"></i></a></li>
    
                </ul>
            </div>
        </footer>


</body>

</html>