<!DOCTYPE html>
<html lang="en">

<head>
    <title>Sign Up- Manicurist </title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="../static/nailItStyle.css">
    <script defer src="../static/GetLocation.js"></script>
    <script defer src="../static/general.js"></script>

</head>

<body>
    <div class="gridContainer ">
        <header>
            <nav>
                <a href="signUpManicurist.html">Manicurist ? Sign Up </a> &nbsp &nbsp
                <a href="signUpCustomer.html">Customer ? Sign Up </a>
                <ul>
                    <img src="../static/Logo.jpeg" id="logo">
                    <li><a href="homePage.html">Home Page</a></li>
                    <li><a href="signIn.html"> Sign In</a></li>
                    <li><a href="SearchMani.html"> Find Manicurist</a></li>
                    <li><a href="BusinessProfile.html"> Business Profile </a></li>

                </ul>
            </nav>
        </header>


        <div class="PageImage signUpMani"></div>

        <main class="aboutUs signUpMani">
            <form id="SignUpManicuristForm" class="SignUpForm" action="" method="post">
                <fieldset>

                    <label for="email"> Email: </label>
                    <input type="email" name="email" id="email" class="inputs" required>
                    <p></p>

                    <label for="firstName">First Name: </label>
                    <input type="text" id="firstName" name="firstName" class="inputs" required>
                    <p></p>

                    <label for="lastName">Last Name: </label>
                    <input type="text" id="lastName" name="lastName" class="inputs" required>
                    <p></p>

                    <label for="telephone">Phone Number: </label>
                    <input type="number" name="telephone" id="telephone" class="inputs" required min="0"
                        oninput="validity.valid||(value='');">
                    <p></p>


                    <label id="LatitudeLabel" for="Latitude">Latitude: </label>
                    <input type="text" id="Latitude" name="Latitude" class="inputs" required disabled>
                    <p></p>

                    <button type="button" id="buttonLocationMani" onclick="GetLocationMani()">Find my location</button>

                    <label for="Longitude">Longitude: </label>
                    <input type="text" id="Longitude" name="Longitude" class="inputs" required disabled>
                    <p></p>

                    <label for="password">Password: </label>
                    <input type="password" id="password" name="password" class="inputs" required>
                    <span class="eye" onclick="showPassword()">
                        <i id="hide1" class="fa-solid fa-eye"></i>
                        <i id="hide2" class="fa-solid fa-eye-slash"></i>
                    </span>
                    <div id="errorMani"></div>

                    <p></p>

                    <button type="submit" id="signUpButton" class="SignButton">Sign Up</button>
                </fieldset>
            </form>



        </main>


        <footer class="footer">

            <h3>Follow Us</h3> <br>
            <p>Our phone number: 050-8236578</p>
            <p>Our Email is: nailIt@post.bgu.ac.il</p>
            <ul class="socials">
                <li><a href="https://www.facebook.com/" target="_blank"> <i class="fab fa-facebook"></i></a></li>
                <li><a href="https://twitter.com/" target="_blank"> <i class="fab fa-twitter"></i></a></li>
                <li><a href="https://www.google.com/" target="_blank"> <i class="fab fa-google-plus "></i></a></li>
                <li><a href="https://www.linkedin.com/" target="_blank"> <i class="fab fa-linkedin-in"></i></a></li>
                <li><a href="https://www.youtube.com/" target="_blank"> <i class="fab fa-youtube"></i></a></li>

            </ul>

        </footer>

    </div>
</body>

</html>